{% extends 'base.html'%}
{% load static %}
{% load bootstrap5 %}

{% block css %}
  <!-- CSS y titulo -->
  <link rel="stylesheet" href="{% static '/css/navbar-footer.css' %}">
  <link rel="stylesheet" href="{% static '/css/estilo-whatsapp.css' %}">
  <link rel="stylesheet" href="{% static '/css/estilo-eliminarProducto.css' %}">
  <title>Eliminar de producto</title>
{% endblock %}

{% block contenido %}
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h2>Eliminar Producto</h2>
                <hr/>
            </div>
        </div>
        <div class="row mt-1 mb-3 justify-content-center">
            <div class="col-7">
                <form action="{% url 'pyp:eliminarProducto' form.idProducto.value %}" method="POST">
                    {% csrf_token %}

                    {% bootstrap_form form %}

                    <div>
                        <label for="imgProducto" class="form-label">Imagen del Producto</label>
                        <img id="imgProducto" class="rounded mx-auto d-block" name="imgProducto" src="{{img.url}}" width="200" height="200">
                    </div>

                    <div class="btn-group">
                            <button type="submit" class="btn btn-danger btn-lg text-center">
                              <i class="fa-solid fa-trash"></i> Eliminar</button>
                              <a href="{% url 'pyp:listaProductos' %}" type="button" class="btn btn-secondary rounded">
                              <i class="fas fa-undo"></i> Volver</a>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
    <!--FIN Contenido-->

{% endblock %}
 
{% block js %}
      <!-- JS BOOSTRAP -->
      <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    
{% endblock %}    