{% extends 'base.html'%}

{% load static %}

{% block css %}
  <!-- CSS y titulo -->
  <link rel="stylesheet" href="{% static '/css/navbar-footer.css' %}">
  <link rel="stylesheet" href="{% static '/css/estilo-whatsapp.css' %}">
  <link rel="stylesheet" href="{% static '/css/estilo-inicio.css' %}">
  <title>Peludos y Pulgosos</title>
{% endblock %}

{% block contenido %}
   <!--Portada -->
   <div class="portada">
    <div class="portada-imagen">
        <img src="{% static '/img/inicio/portada.jpg'%}" alt="imagen-portada">
    </div>
    <div class="portada-titulos">
        <h1> Peludos y Pulgosos</h1>
        <h2>La mejor tienda para tus mascotas</h2>
    </div>
</div>

    <!--CONTENIDO-->
    <div class="container">

      <div class="titulo">
        Productos más vendidos
      </div>
      <!-- Carrusel de productos -->
      <section class="pt-2 pb-3">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div id="carrusel-productos" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for pfs in productoF %}
                      <div class="carousel-item">
                        <div class="row">
                          {% for pf in pfs %}
                            <div class="col-md-4 mb-3">
                              <div class="card card-center" style="width: 18rem;">
                                <img src="{{ pf.imgProducto.url }}" class="card-img-top" alt="favoritos">
                                <div class="card-body">
                                  <h5 class="card-title">{{ pf.nombreProducto }}</h5>
                                  <p class="card-text">{{ pf.categoria.nombreCategoria }}.</p>
                                  <p class="card-text precio">${{ pf.precio }}</p>
                                  <p class="btn-comprar"><a href="#" class="btn btn-success">Comprar</a></p>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    {% endfor %}
                </div>                        
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <a class="btn btn-primary mb-3 mr-1" role="button" data-bs-target="#carrusel-productos" data-bs-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3" role="button" role="button" data-bs-target="#carrusel-productos" data-bs-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </section>
      <!-- Fin carrusel de productos -->

      <div class="titulo">
        Otros productos
      </div>
      <!-- lista de productos -->
      <div class="productos-top">
        {% for producto in productos%}
          <div class="card" style="width: 18rem;">
            <img src="{{ producto.imgProducto.url }}" class="card-img-top" alt="top-1">
            <div class="card-body">
              <h5 class="card-title">{{ producto.nombreProducto }}</h5>
              <p class="card-text">{{ producto.categoria.nombreCategoria }}.</p>
              <p class="card-text precio">${{ producto.precio }}</p>
              <p class="btn-comprar"><a href="#" class="btn btn-success">Comprar</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- Fin lista de productos -->

    </div>
    <!-- FIN CONTENIDO -->
{% endblock %}

{% block js %}
    <!-- JS BOOSTRAP -->
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static '/js/js-inicio.js'%}"></script>
{% endblock %}
  